@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #fafafb;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.875em;
}

body,
body * {
  font-family: 'Open Sans', sans-serif;
}
